<head>
    <title>Plexactyl</title>
    <link href="/assets/tailwind.css" rel="stylesheet">
    <link rel="shortcut icon" href="<%= settings.icon %>" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/whitney-2" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
</head>