
<!doctype html>
<html>
<head>
    <title><%= settings.name %></title>
    <link rel="icon" type="image/x-icon" href="<%= settings.icon %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
<body style="font-family: 'Inter'">
<div class="relative isolate overflow-hidden bg-white">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
  </svg>
  <div class="mx-auto max-w-7xl px-6 pt-20 sm:pb-32 lg:flex lg:py-30 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      <img class="h-11" src="<%= settings.icon %>" alt="Logo">
      <h1 class="mt-10 text-xl font-semibold tracking-tight text-gray-800 sm:text-6xl">Your #1 platform for hosting a Minecraft server, at no cost.</h1>
      <p class="mt-6 text-lg leading-8 tracking-tught text-gray-600">Everything you need for your project - fast and easy. Deploy a free container, game server or service in under 60 seconds. </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="/cp/login" class="rounded-xl bg-gray-600 transition px-5 py-2 text-base font-medium leading-7 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Sign in</a>
    </div>
    </div>
  </div>
</div>
</body>
</html>