<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= extra.home.name %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Public/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Public/vendors/css/vendor.bundle.base.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.js"></script>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/Public/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/Public/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Public/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/Public/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/Public/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/881207010417315861/948924037176901642/Copy_of_H_33.png" />
    <link rel="icon" type="image/png" href="<%= extra.faviconlink %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet"></head>
<body style="font-family: 'DM Sans', sans-serif;">
<div class="nanobar my-class" id="my-id" style="position: fixed;">
    <div class="bar"></div>
</div>
